* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  background: lightcoral;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 25px;
}

.search-button {
  background: lightcoral;
  border: none;
  color: white;
  padding: 10px 20px;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

h2, h3 , ul, p{
  align-self: start;
}
